{% extends 'base.html.twig' %}
{% block body %}
	<div class="container mt-5 mb-5">
		<div class="row justify-content-md-center align-items-center">
			<div class="col col-lg-2">
				<p></p>
			</div>
			<div class="col-md-auto">
				<h1 class="text-center mb-4">Usuarios</h1>
			</div>
			<div class="col col-lg-2 text-end">
				{% if app.user %}
					<a href="{{path('app_perfil')}}"><img class="rounded-circle" style="width: 65px; height: 65px;" src="{{urlFotoPerfil ~ app.user.fotoPerfil}}" alt="Foto de perfil"></a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-between w-75 mx-auto">
		{% if is_granted("ROLE_ADMIN") %}
			<a class="btn btn-success " href="{{ path('app_create') }}">Crear usuario</a>
		{% endif %}

		<form action="" method="get">
			<input type="submit" value="Buscar">
			<input type="text" name="buscar" id="buscar" placeholder="Nombre usuario">
		</form>
	</div>
	<table class="table table-striped table-bordered mt-5 text-center">
		<thead>
			<th>Foto de perfil</th>
			<th>
				{{knp_pagination_sortable(usuarios, "Nombre usuario", "u.username")}}
			</th>
			<th>Contraseña</th>
			<th>Teléfono</th>
			<th>
				{{knp_pagination_sortable(usuarios, "Email", "u.email")}}
			</th>
			<th>
				{{knp_pagination_sortable(usuarios, "Rol", "u.rol")}}
			</th>

			{% if is_granted("ROLE_ADMIN") %}
				<th>Gestionar</th>
			{% endif %}
		</thead>
		<tbody>
			{% for u in usuarios %}
				<tr>
					<td><img style=" height: 65px;" src="{{urlFotoPerfil ~ u.fotoPerfil}}" alt="Foto de perfil"></td>
					<td>{{u.username}}</td>
					<td>**SECRETO**</td>
					<td>{{u.telefono}}</td>
					<td>{{u.email}}</td>
					<td>{{u.rol.value}}</td>
					{% if is_granted("ROLE_ADMIN") %}
						<td>
							<a class="btn btn-primary btn-sm" href="{{ path('app_edit', {'id': u.id}) }}">Editar</a>
							<a class="btn btn-danger btn-sm" href="{{ path('app_delete', {'id': u.id}) }}" onclick=" return confirm('Estas seguro de querer borrarlo');">Eliminar</a>
						</td>
					{% endif %}
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<div class="d-flex justify-content-center mt-4">
		{{ knp_pagination_render(usuarios) }}
	</div>
	<br>
	<div
		class="d-flex justify-content-between w-75 mx-auto">
		<!-- Iniciar o cerrar sesión -->
		{% if  app.user %}
			<a class="btn btn-danger" href="{{ logout_path()}}">Cerrar sesión</a>
		{% else %}
			<a class="btn btn-primary" href="{{ path('app_login') }}">Iniciar sesión</a>
		{% endif %}

		<!-- Ir a coches -->
		<a class="btn btn-info" href="{{ path('app_index_coche')}}">Ver coches</a>
	</div>
{% endblock %}
